<%= form_for(contum) do |f| %>
  <% if contum.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(contum.errors.count, "erro(s)") %> Não foi possível salvar conta:</h4>
      <ul>
      <% contum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :banco, class: 'control-label' %><br>
      <%= f.text_field :banco, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :conta_corrent, class: 'control-label' %>
      <%= f.text_field :conta_corrent, class: 'form-control' %>
   </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :agencia, class: 'control-label'%>
      <%= f.text_field :agencia,  class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :saldo, class: 'control-label' %>
    <%= f.text_field :saldo, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
