<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Contas</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% if notice or alert %>
<div class="alert alert-<%= alert ? 'warning' : 'success' %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Contas
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Banco</th>
                      <th>Conta corrente</th>
                      <th>Agência</th>
                      <th>Saldo</th>
                      <th>Ativo</th>
                      <th colspan="3">Ação</th>
                    </tr>
                  </thead>
                 
                  <tbody>
                  <% @conta.each do |contum| %>
                    <tr>
                      <td><%= contum.banco %></td>
                      <td><%= contum.conta_corrent %></td>
                      <td><%= contum.agencia %></td>
                      <td><%= contum.saldo %></td>
                      <td><%= contum.ativo == true ? 'SIM': 'NÃO'%></td>
                      <td><%= link_to 'Visualizar', contum %></td>
                      <td><%= link_to 'Editar', edit_contum_path(contum) %></td>
                      <td><%= link_to 'Inativar', inativa_contum_path(contum), method: :put, data: { confirm: 'Desaja inativar?' }, class: 'btn btn-danger' if contum.ativo %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table> 
          </div>
    </div>  
  </div>    
</div>


<%= link_to 'Nova Conta', new_contum_path, class: 'btn btn-primary'  %>
