<p id="notice"><%= notice %></p>

<p>
  <strong>Banco:</strong>
  <%= @contum.banco %>
</p>

<p>
  <strong>Conta corrente:</strong>
  <%= @contum.conta_corrent %>
</p>

<p>
  <strong>Agência:</strong>
  <%= @contum.agencia %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @contum.saldo %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= @contum.ativo == true ? 'SIM': 'NÃO' %>
</p>

<%= link_to 'Editar', edit_contum_path(@contum) %> |
<%= link_to 'Voltar', conta_path %>
