<p id="notice"><%= notice %></p>

<p>
  <strong>Conta:</strong>
  <%= @movimentacao.conta.full_name %>
</p>

<p>
  <strong>Data movimentação:</strong>
  <%= @movimentacao.data_movimentacao.to_s(:custom_datetime) %>
</p>

<p>
  <strong>Transferência:</strong>
  <%= @movimentacao.tranferencia %>
</p>

<p>
  <strong>Saque:</strong>
  <%= @movimentacao.saque %>
</p>

<p>
  <strong>Depósito:</strong>
  <%= @movimentacao.deposito %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @movimentacao.valor %>
</p>

<%= link_to 'Voltar', movimentacaos_path %>
