<!DOCTYPE html>
<html lang="en">

<head>

    <title>App Mov. Bancária</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Altere sua senha</h3>
                    </div>
                    <div class="panel-body">

                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>
                        <%= f.hidden_field :reset_password_token %>

                        <div class="form-group"> 
                          <%= f.label :password, "Nova senha" %><br />
                          <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                          <% end %>
                          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
                        </div>

                        <div class="form-group">
                          <%= f.label :password_confirmation, "Confirme a nova senha" %><br />
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                        </div>

                        <div class="actions">
                          <%= f.submit "Alterar minha senha", class: 'btn btn-lg btn-success btn-block' %>
                        </div>
                      <% end %>

                      <%= render "users/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>