<!DOCTYPE html>
<html lang="en">

<head>

    <title>App Mov. Bancária</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign up</h3>
                    </div>
                    <div class="panel-body">
                       
                            <fieldset>
                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              
                                 <%= devise_error_messages! %>
                               
                                <!-- <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> 
                                </div> -->
                                <div class="field">
                                    <%= f.label :email %><br />
                                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                                </div>
                                <!-- <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div> -->
                                <div class="field">
                                    <%= f.label :password %>
                                    <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                                    <% end %><br />
                                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                                </div>

                                <div class="form-group">
                                  <%= f.label :password_confirmation %><br />
                                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                                </div>

                                <div class="actions">
                                    <%= f.submit "Sign up", class: 'btn btn-success btn-block' %>
                                </div>
                                <% end %>
                            </fieldset>
                            <%= render "users/shared/links" %>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
